@font-face {
	font-family: merriweather-bold;
	src: url('../src/fuentes/merriweather/Merriweather-Bold.otf');
}

@font-face {
	font-family: merriweather-regular;
	src: url('../src/fuentes/merriweather/Merriweather-Regular.otf');
}

@font-face {
	font-family: lato-light;
	src: url('../src/fuentes/lato/Lato-Light.ttf');
}

@font-face {
	font-family: lato-regular;
	src: url('../src/fuentes/lato/Lato-Regular.ttf');
}

body {
	margin: 0;
}

.container {
	max-width: 1224px;
	margin: auto;
	position: relative;
}


/* HEADER  */


.headerBarBackground {
	background: #183c5d;
}

.headerBar {
	min-height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
		height: 45px;
}

.headerBackground {
	background-image: url("../src/imagenes/fondo1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -90px;
	margin: 10px 0;
}

.headerBackgroundContain {
<<<<<<< HEAD
	height: 550px;
=======
>>>>>>> 22fd0b9a416b5ccb78d31011a45848ae8358fcbf
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.option {
	color: #7A8CA0;
	font-family: 'merriweather-bold',sans-serif;
	margin: 0 30px;
	font-size: 14px;
	cursor: pointer;
}

.option:hover {
	color: #fff;
}

.searchBox {
	width: 630px;
  height: 250px;
	background: rgba(255, 255, 255, 0.8);
	padding: 0 40px;
}

.searchBox h1 {
	font-family: 'merriweather-bold', sans-serif;
	font-size: 26px;
	color: #1f2045;
	margin: 55px 0 0;
}

.searchBox p {
	font-family: 'lato-light', sans-serif;
	font-size: 18px;
	color: #414667;
	margin: 5px 0;
}

.searchButton {
	display: block;
	float: right;
	margin-top: 10px;
	height: 35px;
	width: 235px;
	border-radius: 2px;
	border: 0.5px solid #000;
	background: #183c5d;
	font-family: 'lato-regular', sans-serif;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.inputContain {
	background: rgba(255, 255, 255, 0.8)
}

.inputContain img {
	float: left;
	margin: 3px 2px;;
}

.input {
	width: 598px;
  height: 34px;
	font-family: 'lato-regular', sans-serif;
	font-size: 20px;
	color: #414667;
	border: none;
	background: rgba(255, 255, 255, 0.8)
}

.input::placeholder {
	color: #b3b4ba;
	font-family: 'lato-light', sans-serif;
}

.headerSlide {
	background: #fff;
	height: 400px;
  width: 320px;
}

.headerNavBackground {
	background: #ececec;
}

.headerNavContainer {
	height: 100px;
	width: 1224px;
	margin: 10px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.textNav h2{
	color: #1f2045;
	font-size: 28px;
	font-family: 'merriweather-regular', sans-serif;
	margin: 5px;
}

.textNav p {
	font-family: 'lato-light',sans-serif;
	color: #414667;
	font-size: 18px;
	margin: 5px;
}

.buttonNav {
	border: none;
	background: none;
	cursor: pointer;
}

.buttonNav img {
		height: 45px;
}

.buttonNav p {
	margin: 0;
}



/* SLIDE SECTION */


.slideShow {
	height: 720px;
	background-image: url('../src/imagenes/fondo2.png');
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.dots {
	position: absolute;
	bottom: 10px;
	height: 12px;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: center;
}

.dot {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	margin: auto 5px;
	border: none;
	background: #969696
}

.slide {
	height: 720px;
}

.slideInfoContain {
	position: absolute;
  bottom: 70px;
  width: 640px;
  height: 145px;
  background: rgba(255, 255, 255, 0.8);
	padding: 40px;
}

.slideInfoContain h3 {
	font-family: 'merriweather-bold', sans-serif;;
	font-size: 28px;
	color: #1f2045;
	margin: 0;
}

.slideInfoContain span {
	display: flex;
	align-items: center;
	font-family: 'merriweather-regular',sans-serif;
	color: #414667
}

.slideInfoContain span img {
	height: 25px;
}

.slideInfoContain p {
	font-family: 'lato-regular',sans-serif;
	color: #414667;
	margin: 5px;
}

.slideInfoContain button {
	font-family: 'lato-regular',sans-serif;
	font-weight: bold;
    font-size: 12px;
    color: #1f2045;
    background: #fff;
    border: solid 0.5px #000;
    width: 200px;
    height: 35px;
    border-radius: 3px;
		margin: 10px 0 0;
		cursor: pointer;
}


/* PLANTEA SECTION */

.planeaContain {
	background: #ececec;
	min-height: 460px;
	margin: 10px 0;
	padding: 40px 0px;
}

.planeaContain h2 {
	font-family: 'merriweather-regular', sans-serif;
	color: #1f2045;
	font-size: 20px;
	margin: 0;
}

.planeaContain p {
	font-family: 'lato-light',sans-serif;
	font-size: 15px;
	color: #414667;
	margin: 10px 0 20px;
}

.planeaGrid {
	display: grid;
	grid-template: 1fr / repeat(4,1fr);
	grid-gap: 10px;
}

.card {
	background: #fff;
	padding: 10px;
	height: 323px;
	box-sizing: inherit;
	position: relative;
	width: 278px;
}

.cardImg {
	cursor: pointer;
	height: 269px;
}

.like {
	position: absolute;
	top: 15px;
	right: 10px;
	height: 30px;
}

.card h3 {
	margin: 0 0 5px;
	font-size: 20px;
	color: #1f2045;
	font-family: 'merriweather-regular',sans-serif;
}

.card span {
	display: flex;
	align-items: center;
	font-family: 'lato-regular',sans-serif;
	color: #414667;
}

.card span img {
	height: 25px;
}

.cardInfo {
	background: rgba(255, 255, 255, 0.8);
	position:absolute;
	bottom: 20px;
	left: 10px;
	right: 10px;
	display: flex;
	justify-content: space-between;
}

.cardDuration {
	font-family: 'lato-regular'.sans-serif;
	font-weight: bold;
	padding: 0 10px;
}

.cardDuration p{
	margin: 0
}

.cardDuration img {
	height: 26px;
}

.cardDuration span {
	display: flex;
	align-items: center;
}

.cardPrice {
	font-family: 'lato-regular'.sans-serif;
	font-weight: bold;
	padding: 0 10px;
}

.cardPrice p {
	margin: 0;
}

.cardPrice span {
	float: right;
}

.planeaContain button {
	width: 100%;
	height: 45px;
	background: #1b3d5a;
	border: 1px solid #000;
	border-radius: 3px;
	margin: 20px 0;
	color: #fff;
	font-family: 'lato-regular', sans-serif;
	font-size: 16px;
}

/* FOOTER */

footer {
	background: #1b3d5a;
	padding: 25px 0 80px;
}

.social {
	display:flex;
	align-items: center;
	flex-direction: column;
}

.social p {
	margin: 20px 0 10px;
	font-family: 'lato-regular', sans-serif;
	font-size: 16px;
	color: #7a8ca0;
}

.iconContain img {
	height: 50px;
}

.footerOptions {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.footerGuia {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerGuia h3 {
	font-family: 'merriweather-bold',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.footerGuia a {
	text-decoration: none;
	color: #7a8ca0;
	font-family: 'lato-regular',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;

}

.footerOperadores {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerOperadores h3 {
	font-family: 'merriweather-bold',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.footerOperadores a {
	text-decoration: none;
	color: #7a8ca0;
	font-family: 'lato-regular',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;

}

.footerAyuda {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerAyuda h3 {
	font-family: 'merriweather-bold',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.footerAyuda a {
	text-decoration: none;
	color: #7a8ca0;
	font-family: 'lato-regular',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}
