@font-face {
	font-family: merriweather-bold;
	src: url('../src/fuentes/merriweather/Merriweather-Bold.otf');
}

@font-face {
	font-family: merriweather-regular;
	src: url('../src/fuentes/merriweather/Merriweather-Regular.otf');
}

@font-face {
	font-family: lato-light;
	src: url('../src/fuentes/lato/Lato-Light.ttf');
}

@font-face {
	font-family: lato-regular;
	src: url('../src/fuentes/lato/Lato-Regular.ttf');
}

body {
	margin: 0;
}

.contain {
	width: 1225px;
	margin: auto;
	position: relative;
}

.divider {
	width: 99%;
	margin: 5px auto;
	border-top: 1px #e2e2e2 solid;
}


/* HEADER  */


.headerBarBackground {
	background: #183c5d;
}

.headerBar {
	min-height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 1225px;
}

.logo {
		height: 45px;
}


.option {
	color: #7A8CA0;
	font-family: 'merriweather-bold',sans-serif;
	margin: 0 30px;
	font-size: 14px;
	cursor: pointer;
}

.option:hover {
	color: #fff;
}

.search {
	display: grid;
	grid-template-columns: 500px 400px;
	grid-gap: 20px;
	font-family: 'lato-regular';
	color: #414667;
	margin: 10px 0;
}

.searchItem1 {
	display: inline;
}

.searchItem2 {
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 3px;
}

.inputContain {
	border: solid 1px #b9d7ed;
	display: flex;
	align-items: center;
	margin: 5px 0;
}

.inputContain i {
	margin-right: 5px;
	font-size: 25px;
}

.inputSearch {
	height: 28px;
	border: none;
	width: 100%;
}

.inputIcon {
	height: 28px;
}

.filterContain {
	display: flex;
}

.dropdown {
	margin: 0 5px !important;
}

.dropdown-toggle {
	margin: 10px 0;
	background: white !important;
	color: #2f6ca4 !important;
	padding: 0px 10px 0 0 !important;
}

.imageDropdown {
	height: 28px;
}

.optionsContain {

}

.resultados {
	background: #ededee;
	margin: 10px 0;
	padding-bottom: 20px;
}

.encontradoText {
	font-family: 'merriweather-regular', cursive;
	font-size: 26px;
	color: #1f2045;
}

.planeaGrid {
	display: grid;
	grid-template: 1fr / repeat(4,1fr);
	grid-gap: 10px;
}

.card {
	background: #fff;
	padding: 10px;
	height: 323px;
	box-sizing: inherit;
	position: relative;
	width: 278px;
}

.cardImg {
	cursor: pointer;
	height: 250px;
}

.like {
	position: absolute;
	top: 15px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-image: url('../src/imagenes/corvacio.png');
	background-size: contain;
	cursor: pointer;
}

.likeIt {
	background-image: url('../src/imagenes/corlleno.png');
}

.card h3 {
	margin: 0 0 5px;
	font-size: 20px;
	color: #1f2045;
	font-family: 'merriweather-regular',sans-serif;
}

.card span {
	display: flex;
	align-items: center;
	font-family: 'lato-regular',sans-serif;
	color: #414667;
}

.card span img {
	height: 25px;
}

.cardInfo {
	background: rgba(255, 255, 255, 0.8);
	position:absolute;
	bottom: 20px;
	left: 10px;
	right: 10px;
	display: flex;
	justify-content: space-between;
}

.cardDuration {
	font-family: 'lato-regular'.sans-serif;
	font-weight: bold;
	padding: 0 10px;
}

.cardDuration p{
	margin: 0
}

.cardDuration img {
	height: 26px;
}

.cardDuration span {
	display: flex;
	align-items: center;
}

.cardPrice {
	font-family: 'lato-regular'.sans-serif;
	font-weight: bold;
	padding: 0 10px;
}

.cardPrice p {
	margin: 0;
}

.cardPrice span {
	float: right;
}

.planeaContain button {
	width: 100%;
	height: 45px;
	background: #1b3d5a;
	border: 1px solid #000;
	border-radius: 3px;
	margin: 20px 0;
	color: #fff;
	font-family: 'lato-regular', sans-serif;
	font-size: 16px;
}

footer {
	background: #1b3d5a;
	padding: 25px 0 80px;
}

.social {
	display:flex;
	align-items: center;
	flex-direction: column;
}

.social p {
	margin: 20px 0 10px;
	font-family: 'lato-regular', sans-serif;
	font-size: 16px;
	color: #7a8ca0;
}

.iconContain img {
	height: 50px;
}

.footerOptions {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.footerGuia {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerGuia h3 {
	font-family: 'merriweather-bold',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.footerGuia a {
	text-decoration: none;
	color: #7a8ca0;
	font-family: 'lato-regular',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;

}

.footerOperadores {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerOperadores h3 {
	font-family: 'merriweather-bold',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.footerOperadores a {
	text-decoration: none;
	color: #7a8ca0;
	font-family: 'lato-regular',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;

}

.footerAyuda {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerAyuda h3 {
	font-family: 'merriweather-bold',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
}

.footerAyuda a {
	text-decoration: none;
	color: #7a8ca0;
	font-family: 'lato-regular',sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}
